<h5 class="alert alert-secondary mt-4 mb-4 ms-2 mx-2 text-center">Login</h5>

<div class="container" style="width: 45%;">
    <form enctype="multipart/form-data" [formGroup]="loginForm" (ngSubmit)="submitForm()">
        <div class="form-group mt-2 mb-2">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" formControlName="username">
            <span class="help-block" *ngIf="(loginForm.get('username').touched
                    || loginForm.get('username').dirty)
                    && loginForm.get('username').errors">
                <span *ngIf="loginForm.get('username').errors.required" style="color: red;">Username is required!</span>
            </span>
        </div>
        <div class="form-group mt-2 mb-2">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password" formControlName="password">
            <span class="help-block" *ngIf="(loginForm.get('password').touched
                    || loginForm.get('password').dirty)
                    && loginForm.get('password').errors">
                <span *ngIf="loginForm.get('password').errors.required" style="color: red;">Password is required!</span>
            </span>
        </div>
        <div *ngIf="badReq" style="color: red;">Incorrect credentials!</div>
        <button type="submit" class="btn btn-primary mt-2 mb-2" [disabled]="!loginForm.valid">Submit</button>
    </form>
</div>